# Import a melted sales X invtype chart.
# Output a plot and/or data to plot in R/Excel.

In [4]:
import pandas as pd
import numpy as np
import os
cwd = os.getcwd()
cwd

'/Users/sdavenpo/GDrive/Projects/LCB 2018/Untitled Folder'

In [5]:
sales = pd.read_csv("../data/sales_ts_melted.csv")

In [6]:
sales.describe()

                                    Type Sales Year Month  Sales
count                               3841             3841   3841
unique                                 6               25   3808
top     Marijuana Extract for Inhalation          2016-07  13.83
freq                                 725              186     11

In [7]:
sales.columns

Index(['Type', 'Sales Year Month', 'Sales'], dtype='object')

In [9]:
help(pd.pivot)

Help on function pivot_simple in module pandas.core.reshape.reshape:

pivot_simple(index, columns, values)
    Produce 'pivot' table based on 3 columns of this DataFrame.
    Uses unique values from index / columns and fills with values.

    Parameters
    ----------
    index : ndarray
        Labels to use to make new frame's index
    columns : ndarray
        Labels to use to make new frame's columns
    values : ndarray
        Values to use for populating new frame's values

    Notes
    -----
    Obviously, all 3 of the input arguments must have the same length

    Returns
    -------
    DataFrame

    See also
    --------
    DataFrame.pivot_table : generalization of pivot that can handle
        duplicate values for one index/column pair

In [13]:
sales.head()

                         Type Sales Year Month      Sales
0       Marijuana Mix Infused          2015-11   2,279.12
1      Marijuana Mix Packaged          2015-08   1,897.34
2      Marijuana Mix Packaged          2016-04  28,630.02
3       Marijuana Mix Infused          2015-11   3,508.92
4  Marijuana Infused Topicals          2016-01   4,698.53

In [12]:
sales.pivot('Sales Year Month', 'Sales')

ValueError: cannot label index with a null key